:root {
  --container-start-x: -50%;
  --container-end-x: -90%;
  --container-start-y: -58%;
  --container-end-y: -42%;
  --container-start-color: #B0B0B0; /* 연한 회색 */
  --container-end-color: #3F3F3F; /* 어두운 회색 */
  --button-color: #2C5F2D;
}

/* 배경 이미지 스타일 */
.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images.unsplash.com/photo-1507041957456-9c397ce39c97?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(63, 63, 63, 0.90); /* 어두운 회색 */
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* 전체 화면 컨테이너 */
.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#phone {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 3 / 5;
  border-radius: 15px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  border-radius: 15px;
  width: 100%;
  position: absolute;
  background-color: #e0e0e0; /* 연한 회색 */
  padding: 20px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s 0.1s ease;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}

@media (max-height: 600px) {
  #phone {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media (max-height: 400px) {
  #phone {
    transform: translate(-50%, -50%) scale(0.3);
  }
}

#content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 로그인 및 회원가입 화면 기본 상태 */
#login,
#register {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* 로그인 화면 활성화 */
.login-active #login {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

/* 회원가입 화면 활성화 */
.register-active #register {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

input {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 2.5rem;
  padding: 0;
  margin: 0;
}

.read-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 10px;
  color: #3f3f3f !important;
  font-weight: 900;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-top: 0;
  color: #3f3f3f;
}

button {
  display: block;
  border-radius: 50px;
  border: none;
  width: 100%;
  background-color: #7f7f7f; /* 중간 회색 */
  color: #fff;
  padding: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 10px 30px rgba(63, 63, 63, 0.3);
  transition: all 0.2s ease;
}

button:hover {
  box-shadow: 0px 2px 10px rgba(63, 63, 63, 0.4);
}

.input {
  position: relative;
  margin-top: 1.5rem;
}

.input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
  padding: 0;
  transition: all 0.3s ease;
}

.input label {
  color: #9e9e9e;
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  font-size: 1rem;
  cursor: text;
  transition: all 0.2s ease-out;
  transform-origin: 0% 100%;
  transform: translateY(0);
  pointer-events: none;
}

.input.active label {
  transform: translateY(-1.5rem);
  font-size: 0.8rem;
  color: #7f7f7f;
}

.checkbox {
  margin-top: 2rem;
  display: block;
  margin-bottom: 2rem;
}

.account-check:hover {
  color: #272727;
  text-decoration: underline;
}

.active > label {
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.3s ease;
}
