.home-popular {
    text-align: center;
  }
  
  .view-toggle-buttons {
    margin: 100px 0 20px;
    padding-right: 10px;
    float: right;
  }
  
  .view-toggle-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    width: 120px; /* 버튼의 너비를 고정 */
    height: 40px; /* 버튼의 높이도 고정 */
    background-color: #ddd; /* 기본 배경색 */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* 배경색 전환 시 부드러운 애니메이션 효과 */
  }
  
  .view-toggle-buttons button:hover {
    background-color: #ccc; /* 호버 상태일 때 색상 */
  }
  
  .view-toggle-buttons .active {
    font-weight: bold;
    text-decoration: underline;
    background-color: red; /* 활성화된 버튼의 배경색을 빨간색으로 설정 */
    color: white; /* 가독성을 위해 텍스트 색상을 흰색으로 변경 */
  }
  