/* src/components/MovieTable/MovieTable.css */
.movie-table {
  width: 80%;
  margin: 100px auto 0; /* 상단 마진 100px 추가 */
}

.movie-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.movie-table th, .movie-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.movie-table th {
  background-color: #f2f2f2;
  color: #000000; /* 헤더 텍스트 검정색으로 변경 */
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination-controls button {
  padding: 5px;
  font-size: 0.9em;
  width: auto; /* 버튼의 너비를 글자 크기만큼 조정 */
}

/* 별점 스타일 */
.star {
  color: #ddd;
}

.star.filled {
  color: #FFD700; /* 노란색 별점 */
}